@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 28px;
}
#app{
  /* padding: 28px; */
  height: 100vh;
}
.cadre{
  width: 95%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.list-title{
  color: #E89651;
}
.cart{
  display: flex;
  justify-content: end;
  margin-right: 12.5%;
  gap: 5px;
  font-size: 18px;
  align-items: center;
}
.product-list{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  /* justify-content: center; */
}

.product{
  width: 350px;
  display:  grid;
  gap: 5px;
  margin: auto;
  position: relative;
}
.product .p-img{
  border-radius: 12px;
}
.icon{
  cursor: pointer;
  width: 43px;
  height: 43px;
}
.bg-linear{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0) );
  bottom: -65px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  transition: .3s ease;
}

.product:hover .bg-linear{
  bottom: 0;
}
